<!DOCTYPE html>
<html lang="en">
<head>
    <title>Способы защиты в сети</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="static/themes/ribbon/styles/styles.css">
    <style>
        .shower {
            --slide-ratio: calc(16 / 9);
        }
    </style>
</head>
<body class="shower list">

    <header class="caption">
        <h1>Банников Максим</h1>
        <p>ВИБ-12</p>
    </header>

    <section class="slide" id="cover">
        <h2>Презентация на тему:</h2>
        <p>Способы защиты в сети</p>
        <figure>
            <img class="cover" src="static/pictures/cover.jpg" alt="Hands on the orange typewriter in a park">
            <figcaption class="copyright right white">
                <a href="https://fiftyfootshadows.net">© John Carey</a>
            </figcaption>
        </figure>
        <style>
            #cover h2 {
                margin: 30px 0 0;
                color: white;
                text-align: center;
                font-size: 70px;
            }

            #cover p {
                margin: 10px 0 0;
                text-align: center;
                color: white;
                font-style: italic;
                font-size: 20px;
            }

            #cover p a {
                color: white;
            }
        </style>
    </section>

    <section class="slide">
        <h2>Внешняя угроза</h2>
        <p>Возможные дыры в информационной безопасности могут возникнуть с двух направлений:</p>
        <ol>
            <li>Люди
                <ul>
                    <li>Доступ к конфиденциальным данным случайно или преднамеренно получают пользователи внешней сети. Это могут быть и сотрудники компании, и злоумышленники.</li>
                </ul>
            </li>
            <li>Форс-мажорные обстоятельства. Например, стихийные бедствия.</li>
        </ol>
    </section>

    <section class="slide">
        <h2>Внутренняя угроза</h2>
        <ol>
            <li>Технические факторы.
                <ul>
                    <li>Из-за ошибки программирования может произойти сбой оборудовании или отключение электроснабжения, оставляет возможность проникновения в сеть.</li>
                </ul>
            </li>
        </ol>
    </section>

    <section class="slide">
        <h2>Риски при использовании незащищенного интернета</h2>
        <p>Конфиденциальными данными можно распорядиться по-разному:</p>
        <ol>
            <li>Кража информации.
                <ul>
                    <li>Украсть для корыстных целей– к примеру, для последующей перепродажи.</li>
                    <li>Конфиденциальная информация может быть использована для шантажа или вымогательства (вирус «Петя»).</li>
                </ul>
            </li>
        </ol>
    </section>

    <section class="slide">
        <ol>
            <li value="2">Подмена информации, как в хранилище, так и непосредственно при её передаче.</li>
            <li>Программы-шпионы, которые отслеживают ваши действия на компьютере.</li>
            <li>Фишинговые письма, которые позволяют мошенникам украсть личные персональные данные.</li>
            <li>Присвоение авторства также встречается часто, когда злоумышленник, взломав электронную почту, начинает рассылать сообщения от имени взломанного пользователя.</li>
            <li>Разглашение информации, которая составляет личную или коммерческую тайну. Такое часто встречается при попытке отомстить.</li>
        </ol>
    </section>

    <section class="slide">
        <h2>Кому необходима защита информации</h2>
        <div class="columns two">
            <p>В случае с юр. лицами (фирмами и компаниями) защита крайне необходима. Успешная компания всегда на виду, и масштаб трагедии при потере данных идет на сотни миллионов.</p>
            <p>Физическим лицам также требуется защищать свою информацию. Получение конфиденциальных данных может вылиться в проблемы. Варианты ущерба различны: от потери репутации до получения чужих кредитов.</p>
        </div>
    </section>

    <section class="slide">
        <h2>Основные методы и средства защиты информации в Сети</h2>
        <div class="columns two">
            <p>В крупных компаниях есть специальный отдел, который занимается техническим обслуживанием аппаратуры, защитой от внешнего проникновения.</p>
            <p>Средний же и малый бизнес обычно обращается за помощью к профессионалам либо покупает уже готовый, специально для них разработанный продукт.</p>
        </div>
    </section>

    <section class="slide">
        <h2>Можно выделить такие средства защиты</h2>
        <ol>
            <li>Программные и технические.</li>
            <li>Административные и законодательные.</li>
            <li>Смешанные.</li>
        </ol>
        <p>Разумеется, третий вариант предпочтительнее, так как он комплексно включает в себя составляющие из первых двух.</p>
    </section>

    <section class="slide">
        <h2>Программные средства защиты</h2>
        <ol>
            <li>Использование антивирусов. В их задачу входит нахождение, удаление либо же изоляция программ, которые определяются, как вредоносные.</li>
            <li>Применение «песочниц». Это инструменты для работы с сомнительными приложениями в виртуальном пространстве.</li>
            <li>Использование брандмауэров. Такие программы предназначены для слежения за траффиком. В их задачу входит сообщить, если на компьютер начинают поступать непонятные сигналы из непроверенных источников.</li>
        </ol>
    </section>

    <section class="slide">
        <ol>
            <li value="4">Применение DLP- и SIEM-систем. Это внутренняя защита от недобросовестных сотрудников. В первом случае программа не даёт копировать информацию на сторонние носители, например, флэшку; вторая отслеживает запросы к базе данных и сообщает, если считает ситуацию подозрительной. Например, запросы не типичные или слишком частые.</li>
        </ol>
        <p>Это только основные типы существующих на сегодняшний день программных средств защиты. На самом деле их гораздо больше, они возникают ежегодно, как и новые угрозы.</p>
    </section>

    <section class="slide">
        <h2>Административные средства защиты</h2>
        <ol>
            <li>Проведение инструктажа среди сотрудников. Необходимо создать свод правил, нарушение которых ведет к штрафу.</li>
            <li>Составление официальных договоров о неразглашении. Сотрудники должны понимать, что на них лежит большая ответственность.</li>
            <li>Создание системы степеней доступа. Каждый работник должен иметь собственный аккаунт и пароль. Доступ к конфиденциальной информации должны иметь только те, кому она совершенно необходима для работы.</li>
        </ol>
    </section>

    <section class="slide">
        <ol>
            <li value="4">Оптимизация работы отдела кадров. На этапе собеседования стоит качественно отбирать сотрудников.</li>
        </ol>
        <p>Кроме того, существуют аппаратные методы и средства защиты информации в Интернете. Они представляют собой переходный этап между программными и физическими средствами. Чаще всего, это всё-таки существующее в реальности устройство. К примеру, генераторы шума, предназначенные для шифрования данных и маскировки беспроводных каналов.</p>
    </section>

    <section class="slide">
        <h2>Методы программных средств</h2>
        <p>Здесь подразумевается обычно криптография (шифрование посредством алгоритма или устройства, которое проводит операцию автоматически). Шифровать информацию можно десятками различных методов – от перестановки до гаммирования.</p>
        <p>Метод подстановки достаточно простой. Просто исходный алфавит (русский или английский) заменяется альтернативным. В случае с перестановкой используются также цифровые ключи.</p>
    </section>

    <section class="slide">
        <p>Высшую степень защиты обеспечивает гаммирование. Но для такой криптографической работы потребуется специалист высокого уровня, что не может не сказаться на стоимости услуги.</p>
        <p>Дополнительной системой безопасности может стать создание специальной электронной, цифровой подписи.</p>
    </section>

    <section class="slide">
        <h2>Выводы</h2>
        <p>Несмотря на существенные угрозы, исходящие из интернета, реально создать эффективно работающую систему безопасности. Первое что нужно сделать провести ит-аудит безопасности данных, подключить программы на пк, позволяющие сохранить конфиденциальную и любую другую важную для бизнеса или частной жизни информацию. Технических средств и методик более чем достаточно, также можно обеспечить своей компании мониторинг IT-инфраструктуры.</p>
    </section>

    <section class="slide">
        <h2>Выводы</h2>
        <p>Несмотря на существенные угрозы, исходящие из интернета, реально создать эффективно работающую систему безопасности. Первое что нужно сделать провести ит-аудит безопасности данных, подключить программы на пк, позволяющие сохранить конфиденциальную и любую другую важную для бизнеса или частной жизни информацию. Технических средств и методик более чем достаточно, также можно обеспечить своей компании мониторинг IT-инфраструктуры.</p>
    </section>

    <section class="slide">
        <h2>Полезная информация</h2>
        <a target="_blank" href="https://github.com/TheFeenStudio/uniproject">Github</a>
    </section>

    <div class="progress"></div>

    <script src="static/js/shower.js"></script>

</body>
</html>
